.minecraft {
  font-weight: auto;
  padding: 1000pc;
}

html {
  width: 800px;
  margin: auto;

  font-family: "Source Code Pro", monospace;
}

body {
  background-color: #d8faff;
  border: 3px ridge #617c7b;
  margin: 16px;

  font-family: "Source Code Pro", monospace;
}

.header {
  border-bottom: 3px ridge #617c7b;
  padding: 5px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;

  font-family: "Source Code Pro", monospace;
}

h2 {
  border-bottom: 3px ridge #617c7b;
  padding: 5px;
  text-align: center;
  background-color: #3d4d85;
  color: #ff660094;

  font-family: "Source Code Pro", monospace;
}

li {
  list-style-type: none;

  font-family: "Source Code Pro", monospace;
}

nav li {
  display: inline-block;
}

.nav {
  border-bottom: 3px solid #617c7b;
  margin: auto;
  padding: 100px, 100px, 100px, 200px;
}
.nav a {
  padding: 12px;
  display: inline-block;
  float: right;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  font-family: "Source Code Pro", monospace;
  display: inline-block;
  padding: 8px;
}
.nav a:hover,
.nav a:active {
  background-color: yellow;
  color: red;
}

.content {
  padding: 12px;
  border-bottom: 3px ridge #617c7b;
  font-size: 1.2em;
  padding: none;
  font-family: "Source Code Pro", monospace;
}

.content a {
  margin-bottom: 15px;
  text-indent: 30px;
  text-align: justify;

  font-family: "Source Code Pro", monospace;
}

.active {
  font-weight: bold;
  font-style: italic;

  font-family: "Source Code Pro", monospace;
}

.footer {
  padding: 3px;
  text-align: right;
  font-size: 3mm;
  font-family: "Roboto Condesend", sans-serif;
}
